@import '../../styles/variables.scss';

$tag-height: 32px;
$tag-hang: 8px;

.gallery-item {

  position: relative;
  width: 22%;
  margin: 5px;

  @media screen and (max-width: $breakpoint-large) {
    width: 48%;
  }
  @media screen and (max-width: $breakpoint-med) {
    width: 90%;
  }

  &__image {
    background-color: $grey-light;
    display: inline-block;
    padding: $space;

    & img {
      width: 80%;
      height: auto;
    }

  }

  &__tag {
    align-items: center;
    background-color: $orange-dark;
    color: $white;
    display: flex;
    font-weight: $medium-font-weight;
    height: $tag-height;
    justify-content: center;
    padding-left: 0;
    position: absolute;
    right: -($tag-hang);
    top: $tag-height - 6px;
    width: 70px;
    z-index: 2;

    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      right: 60px;
      width: 18px;
      height: $tag-height;
      transform: skew(20deg);
      background-color: $orange-dark;
      border-radius: 4px 4px;
      z-index: -1;
    }

    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      right: 0;
      top: $tag-height;
      border-top: $tag-hang solid $orange-burnt;
      border-right: $tag-hang solid transparent;
      width: 0;
      height: 0;
    }
  }

  &__title {
    padding-top: $space*.33;
  }
}


