@import '../../styles/variables.scss';

.button {
  padding: $space*.66 $space;
  line-height: 1.5;
  box-shadow: 0 20px 40px $black-shadow;

  &--green {
    color: $grey-dark;
    background-color: $lime-green;
  }

  &--orange {
    color: $grey-dark;
    background-color: $lime-green;
  }
}
