@import '../../styles/variables.scss';

.button {
  border: none;
  box-shadow: 0 20px 40px $black-shadow;
  cursor: pointer;
  line-height: 1.5;
  padding: $space*.66 $space;
  transition: 0.2s box-shadow;

  &--green {
    color: $grey-dark;
    background-color: $lime-green;
  }

  &--orange {
    color: $white;
    background-color: $orange-dark;
  }

  &:hover {
    box-shadow: 0 12px 24px $black-shadow;
  }

}
