@import '../../styles/variables.scss';


.mailing-list {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 80px;
  padding: 0 $space 60px $space;
  position: relative;
  width: 100%;

  &__background {
    background: linear-gradient(300deg, $orange-darker 15%, $orange-dark 45%, $orange-light 80%, $orange-dark 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    height: 350px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  &__container {
    margin: 0 auto;
    max-width: 640px;
  }
}
