@import '../../styles/variables.scss';

$orange-light-transparent: rgba(255, 208, 0, 0.9);
$orange-dark-transparent: rgba(247, 149, 30, 0.9);;


.backdrop {
  background: linear-gradient(300deg, $orange-darker 15%, $orange-dark 45%, $orange-light 80%, $orange-dark 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-attachment: fixed;
  height: 606px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: -1;
}




