@import '../../styles/variables.scss';

$header-padding: 20px;

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $space;
  position: fixed;
  top: 0;
  width: 100%;

  &__title {
    color: $white;
    font-size:  $font-size-21;
  }

  &__menu-toggle {
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: $white;
    font-size: $font-size-34;
  }

}

.mobile-menu {
  &.open {
    display: block;
    left: 0;
    top: 0;
  }

  background-color: $off-black;
  display: none;
  height: 110%;
  left: -100%;
  position: fixed;
  top: -10px;
  transition: left .3s;
  width: 100%;
  margin: 0 auto;

  &:before {
    color: $orange-dark;
    content: 'X';
    display: inline-block;
    font-size: 2.8rem;
    left: $space*1.5;
    position: absolute;
    top: 24px;
    visibility: visible;
  }


  &__list {
    display: flex;
    font-size: $font-size-34;
    justify-content: center;
    margin-top: 80px;

    ul {
      list-style: none;
      margin: 0;
    }

    li {
      color: $white;
      cursor: pointer;

      &:hover {
        color: $orange-dark;
      }

    }
  }
}
