@import '../../styles/variables.scss';

.header {
  position: fixed;
  top: 0;

  &__navigation {

    &__menu {
      display: block;
      width: 100%;
      height: 100%;
      background-color: $white;
      position: fixed;
      left: -100%;
      top: -10px;
      transition: left .2s;

      &:before {
        content: 'X';
        position: absolute;
        display: inline-block;
        top: 26px;
        left: 20px;
        visibility: visible;
        font-size: 2.8rem;
      }


      &__list {
        position: absolute;
        top: 100px;
        left: 25%;
        list-style: none;
        font-size: $font-size-34;
        z-index: 10;
        margin: 0;

        li {
          color: initial;
          cursor: pointer;
          &:hover {
            color: $orange-dark;
          }
        }
      }
    }


    & #hamburger {
      visibility: hidden; // hide the checkbox

      &:checked {

        & ~ .header__navigation__menu {
          color: $orange-dark;
          left: 0%;
        }

      }
    }


    &__hamburger {

      &:before {
        content: '=';
        position: absolute;
        display: inline-block;
        top:10px;
        left:20px;
        color: $white;
        visibility: visible;
        font-size: $font-size-34;
      }
    }

  }


}
