@import '../../styles/variables.scss';

.footer {
  color: $white;
  height: 100px;
  background-color: $charcoal;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $space*2.5;

  &__title {
    font-size: $font-size-21;
  }

  &__list {
    padding: 0;
    margin: 0;
    li {
      cursor: pointer;
      display: inline-block;
      margin: $space*1.5;
    }
  }
}
