@import '../../styles/variables.scss';

.footer {
  color: $white;
  min-height: 90px;
  background-color: $off-black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $space*2.5;

  @media screen and (max-width: $breakpoint-med) {
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-size: $font-size-21;
    font-weight: $medium-font-weight;
  }


  &__list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;

    @media screen and (max-width: $breakpoint-med) {
      flex-direction: column;
      justify-content: center;
      padding: 20px;
      li  {
        margin-bottom: 8px;
      }

    }
  }
}
