@import '../../styles/variables.scss';

.link {
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  position: relative;

  &--white {
    color: $white;
  }

  &--green {
    color: $lime-green;
  }

  &--hover-orange {
    &:hover {
      color: $orange-dark;
    }
  }

  &--hover-green {
    &:hover {
      color: $orange-dark;
    }
  }

  &--growing-underline {
    &:before {
      content: '';
      display: inline-block;
      bottom: -4px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: $white;
      transition: 0.4s width;
      position: absolute;
    }

    &:hover {
      &:before {
        width: 100%;
      }
    }
  }

}
